
.header
{ 
    width: 100%;
    height: 90px;
    background-image: url(images/Back/gradient_head.jpg)
}
body
{
    width: 100%;
    min-height: 80%;
}
.footer
{ 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-image: url(images/Back/gradient_foot.jpg)
}
.footer_for
{ 
    width: 100%;
    height: 80px;
    background-image: url(images/Back/gradient_foot.jpg )
}
.text 
{ 
    text-align: center; 
}
.container
{
    width: 100%;
    text-align: center; 
}
.Specifications
{
    width: 70%;
    margin-right: 15%S;
}